 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*   -  expression
'hello' String
-87.8   float
-       expression
/       expresiion
+	    expression
6       interger

2. What is the difference between string and variable?
String is a data type.
Variable - we can store date in variable.

3. Describe three different data types.
"String"
integer
float
complex
list
tuple
set
dict

4. What is an expression made up of? What do all expressions do?
by using expressions we can add, subtract, divid, multiply the data and we can assign the values in variables.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Combinations of multiple operations is nothing but expression *,/,+,-
By using Statment we can store differenet values in variables.  a= 10, b= "ineuron"

In [7]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

23

In [9]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
variable name we can't begin with number.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?
int - type(10)
float - type(3.0)
str    - type("vcjh")

In [16]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
we can't concatenate string with integer
'I have eaten ' + str (99 )+ ' burritos.'

'I have eaten 99 burritos.'